.navbar {
  position: sticky;
  width: 100%;
  padding: 20px;
  height: 95px;
  border-radius: 10px;
  margin-top: 20px !important;
  z-index: 1000;
  background: radial-gradient(
    circle at 25%,
    rgba(238, 163, 65, 0.1),
    rgba(238, 163, 65, 0.7) 70%
  );
  backdrop-filter: blur(10px); 
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.logo-set {
  width: 100px;
  height: 100%;
  margin-right: 200px;
  transform: scale(1.8);
}

.navbar-nav .nav-link {
  color: rgb(72, 21, 21);
}

.navbar-nav .nav-link.active {
  color: #3a864d;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #f2a03b; 
}

.navbar-brand {
  font-size: 1.5rem;
  color: rgb(237, 162, 42); 
}

.form-control {
  background-color: rgba(
    203,
    144,
    28,
    0.2
  ); 
  color: white;
  border: none;
}

.custom-nav-signin {
  margin-right: 25px;
}

.custom-btn-search {
  background-color: #f0a946;
  border: none;
  color: #553911;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 5px;
  padding: 7px 20px;
}

.custom-btn-search:hover {
  background-color: #5b250e;
  color: aliceblue;
  font-weight: 600;
}
